<% provide(:title, 'About | ') %>
<div class="container-fluid">
        <div class="jumbotron">
            <h2 class="text-center text-black mt-5">About</h2>
        </div>   
</div>
<div class="container">
<div class="jumbotron">
    <div class="row">
            <div class="col-4">
                <div class="card size yukimaturi">
                    <h3 class="card-title text-white">Snow-Festival</h3>
                    <p>ssssssss</p>                           
                </div>
            </div>
            
            <div class="col-4">
                <div class="card size siden">
                    <h3 class="card-title text-white">Sapporo-Tram</h3>                                
                </div>
            </div>  
            <div class="col-4">
                <div class="card size terebitou">
                    <h3 class="card-title text-white">TV-Tower</h3>                                
                </div>
            </div>
    </div>
</div> 
</div>

