<% provide(:title, 'About | ') %>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">AwesomeBlogとは？</h4>
                    <p class="card-text">Awesomeblogは自由なコミュニケーションの場です。</p>
                    <p>あなたは自分の関心・趣味を自由に呟け、気になる人をフォローできます。</p>
                </div>
                <div class="card-body">
                    <h5>詳細は以下をご確認ください。</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item mt-3">Garou smart mamaragan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</div>

