<% provide(:title, 'Edit Profile') %>
<div class="jumbtoron" >
    <h1 class="text-center mt-5">Edit your Profile</h1>
    <div class="container form-edit">
        <%= render 'form' %>
    </div>
</div>